{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">SPDB Map</a>      
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3" ng-controller="mainController" ng-init="init()">
      <h2 class="mt-2">Control panel</h2>
      {% verbatim %}
      <form ng-submit="searchForLocations()">
        <div class="form-group">
          <label for="location">Location</label></br>
          <input type="number" step="{{ coordsSettings.step }}" id="latitude" ng-model="formData.coords.latitude">
          <input type="number" step="{{ coordsSettings.step }}" id="longitude" ng-model="formData.coords.longitude"></br>
          <label for="paramSelect0"> Parameter key: </label>
          <select name="paramSelect0" id="paramSelect0" ng-model="formData.mainObject.params[0].key">
            <option ng-repeat="option in objectParams" value="{{option.id}}">{{option.name}}</option>
          </select>
          <label for="valueSelect0"> value: </label>
          <select name="valueSelect0" id="valueSelect0" ng-model="formData.mainObject.params[0].value">
            <option ng-repeat="option in objectParams[formData.mainObject.params[0].key].values" value="{{option.id}}">{{option.name}}</option>
          </select></br>
          <label for="distance">Max distance:</label>
          <input type="number" step="1" min="1" id="distance" ng-model="formData.mainObject.maxDistance">
          <label for="timeReach">Time reach:</label>
          <input type="checkbox" id="timeReach" name="Time reach" ng-model="formData.mainObject.timeReachOn">

        </div>        
        <button type="submit" class="btn btn-primary">Search for locations</button>
      </form>
      {% endverbatim %}
    </div>
    <div class="col-lg-9 text-center">
      {{ my_map|safe }}
    </div>
  </div>
</div>

{% endblock %}