#app {
  width: 100%;
  margin: 3rem;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body {
  /* overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.geolocation-icon {
  margin-top: 0.3rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.coords-input {
  min-width: 5rem;
}

.key-select {
  min-width: 5rem;
}

.value-select {
  min-width: 5rem;
}

.searchForm {
  display: inline-block;
  flex: 1;
  margin-inline: 2rem;
  margin-bottom: 2rem;
}

.mapBlock {
  flex: 2;
  min-width: 500px;
  height: 500px;
  margin-inline: 1rem;
  margin-bottom: 2rem;
}

.map {
  min-width: 500px;
  height: 500px;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
  height: 30vw;
}

.error-banner {
  margin: 5px;
  color: #920202
}

.spinner-border {
  padding-top: 2px;
}

.relative-params-buttons {
  padding-bottom: 1rem;
}

.form-check {
  float: right;
}